
* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Baloo 2", sans-serif;
    background-color: #f9f9f9;
  }
  
  main {
    padding: 2rem;
  }
  
  .card-row {
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  }
  
  .card {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card__content {
    padding: 20px;
  }
  
  .card__img {
    object-fit: cover;
    height: 30vh;
  }